<div class="tech-sidebar">
	<h2 class="sidebar-title">Danh mục</h2>
	<div class="list-group sidebar-list mb-4">
		<vc:categories></vc:categories>
	</div>

	<h2 class="sidebar-title">Thương hiệu</h2>
	<div class="list-group sidebar-list">
		<vc:brands></vc:brands>
	</div>
</div>