@using ShoppingCard.Application.DTOs
@model IEnumerable<BrandDto>

@foreach (var item in Model)
{
    <a asp-action="Index" asp-controller="Brand" asp-route-Slug="@item.Slug" 
       class="list-group-item list-group-item-action sidebar-link">
       @item.Name
    </a>
}
