@model IEnumerable<OrderDetailsModel>
@{
    ViewData["Title"] = "Đơn hàng";
}
<h3>View Order </h3>
<a asp-action="Create" asp-controller="Category">Add Category</a>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th scope="col">Order Code</th>
            <th scope="col">UserName</th>
            <th scope="col">Order Date</th>
            <th scope="col">Order Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>#</th>
                <th scope="row">@item.OrderCode</th>
                <td>@item.UserName</td>
                
            </tr>
        }

    </tbody>
</table>
